
@{
    ViewData["Title"] = "Detail";
}


<div class="col-md-9" style="margin: 35px 10px 21px -19px;">

    <div class="card">
        <div class="row">
            <div class="col-md-4 border-right">
                <a href="#">
                    <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%;">
                </a>
            </div>
            <div class="col-md-7">
                <article class="card-body p-5">
                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">Ayla</span>
                        </span>
                    </p>
                    <dl class="item-property">
                        <dd>
                            <p>
                                Her şeyin başladığı 30 Eylül 1998 tarihine geri döndüğümüz hikayede, Claire Umbrella şirketini yok etmek için harekete geçiyor ve deneylerin yapıldığı yere giriş yapıyor…
                            </p>
                            <p>
                                2002 yılında ilk kez karşımıza çıkan hikayenin yeniden uyarlaması olarak karşımıza çıkan Resident Evil: Raccoon Şehri filmi başrollerinde Kaya Scodelario, Robbie Amell ve Hannah John-Kamen yer alıyor.
                            </p>
                        </dd>
                    </dl>
                    <p><b>Tür : Bilim Kurgu</b></p>
                    <p><b>Dil : Türkçe</b></p>
                    <p><b>Tür : Bilim Kurgu</b></p>
                    <p><b>Yönetmen : Robbie</b></p>
                    <p><b>Oyuncular : Hannah John-Kamen, Kaya Scodelario, Robbie Amell</b></p>
                    <p><b>Süresi : 1 saat 47</b></p>
                    <hr>
                </article> <!-- card-body.// -->
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
        <hr />
        <h2 class="text-center">YORUMLAR</h2>
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer" style="margin-bottom:10px;">
                        14 Aralık 2021 03:40 Muhtem bir filmdi. (Alpay Gürel)
                    </footer>
                    <footer class="blockquote-footer" style="margin-bottom:10px;">
                        13 Aralık 2021 03:40 Harika bir filmdi. (Alpay Gürel)
                    </footer>
                    <footer class="blockquote-footer" style="margin-bottom:10px;">
                        12 Aralık 2021 03:40 Süper bir filmdi. (Alpay Gürel)
                    </footer>
                    <footer class="blockquote-footer" style="margin-bottom:10px;">
                        11 Aralık 2021 03:40 Mükemmel bir filmdi. (Alpay Gürel)
                    </footer>
                </blockquote>
            </div>
        </div>

        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-center">Sende Yorum Yap! </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success">Yorum Yap</button>
            </div>
        </form>
    </div>
</div>

