@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-9" style="margin: 35px 10px 21px -19px;">


    <div class="list-group">

        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3" style="margin-bottom:10px;">
            <div class="list-group-item list-group-item-action">

                <img src="https://www.intersinema.com/film/resimler/11/11969_a_1050.gif" style="width:100%; height:205px;" class="img-rounded" alt="Cinque Terre">
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                    <div class="text-center"><b>Ayla</b></div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <label> 64</label>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                        <label>8.7</label>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>


</div>