<!DOCTYPE html>
<html>
<head>
    <title>Film Projem | Aylin Yılmaz</title>
    <link href="/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: brown;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                    Proje
                </a>
            </div>
            <div class=" collapse navbar-collapse  ">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            Anasayfa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="GirisYap">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            Üye Ol
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="GirisYap">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            Giriş Yap
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="GirisYap"><i class="fa fa-language" aria-hidden="true"></i> Türkçe </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <div class="col-md-3" style="margin: 35px 10px 21px -19px;">

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"><b>Aile</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Aksiyon</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Bilim Kurgu</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Animasyon</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Fantastik</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Dram</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Gençlik</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Gerilim</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Gizem</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Komedi</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Korku</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Macera</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Müzikal</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Polisiye - Suç</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Tarih ve Savaş</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Spor</b></a>
                <a href="#" class="list-group-item list-group-item-action"><b>Western</b></a>
            </div>

        </div>

        @RenderBody()


        <hr />
        <footer>
            <div class="clearfix"></div>
            <p>&copy; 2021-Aylin Yılmaz</p>
        </footer>
    </div>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>